-- Tạo database contactdb nếu chưa tồn tại
CREATE DATABASE IF NOT EXISTS contactdb;

USE contactdb;

-- Tạo bảng friend_group
CREATE TABLE IF NOT EXISTS friend_group (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    description VARCHAR(250)
);

-- Chèn dữ liệu vào bảng friend_group
INSERT INTO friend_group (name, description) VALUES
('Family', 'Family members'),
('Friends', 'Close friends'),
('Work', 'Colleagues from work');

-- Tạo bảng contact
CREATE TABLE IF NOT EXISTS contact (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    created_date DATE,
    phone_number VARCHAR(20),
    group_id INT,
    FOREIGN KEY (group_id) REFERENCES friend_group(id)
);

-- Chèn dữ liệu vào bảng contact
INSERT INTO contact (first_name, last_name, created_date, phone_number, group_id) VALUES
('John', 'Doe', '2024-05-08', '123456789', 1),
('Jane', 'Smith', '2024-05-08', '987654321', 2),
('Michael', 'Johnson', '2024-05-08', '456789123', 3);
